body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2B441;
}

#powText {
    font-size: 8vw;
    font-weight: bold;
    color: #ff0303;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    line-height: 1.2;
}

#powText:hover {
    transform: scale(1.2);
    color: #000000;
}
